/*======================================
  Buttons
======================================*/

.btn {
  @include animate($time: 0.3s);
  font-family: $font-alt;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  text-align: center;
  color: $color-white;
  display: block;
  padding: 20px;
  background: $color-orange;
  border-radius: 4px;
}

@include breakpoint2($min:xl, $max:'') {}

@include breakpoint2($min:lg, $max:xl) {}

@include breakpoint2($min:md, $max:lg) {}

@include breakpoint2($min:sm, $max:md) {}

@include breakpoint2($min:xs, $max:sm) {}

@include breakpoint2($min:'', $max:xs) {}